$nav-bg: #1b456b;
$nav-active-link: #2b659a;
$white: #fff;
$black: #000;
$li-bg-color: #d8d8ff;

$app-neutral: #343a40;
$lighter-neutral: #d1e7fb;
$app-warning: #ffc107;
$app-error: #dc3545;
$border-radius: 0.2rem;
$transition-time: 0.2s;
